<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Plantilla de prueba</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	{% include "partials/top.njk" %}

	{% block content %}
	{% endblock %}

	{% include "partials/footer.njk" %}

	{% block scripts %}
		<script src="/js/main.js" charset="utf-8"></script>
	{% endblock %}
</body>
</html>
