{% extends "layout.njk" %}

{% block content %}

<h1>Error por plantilla</h1>
<h2>{{message}}</h2>
<p>{{error.status}}</p>
<pre style="background: red; Color: #fff">{{error.stack}}</pre>

{% endblock %}
