{% extends "layouts/layout.njk" %}

{% block content %}

<div class="container">
	{{pepe}}
	<p><a href="javascript:clase.hola()">Mira la consola</a></p>
	<div class="row">
		{% for item in items %}
		<div class="col-md-4 col-lg-3">
			<a href="/item/{{ item.id }}">
				<img src="http://ximg.es/600x400/{{ item.color }}/" alt="{{ item.nombre }}" class="img-fluid mt-sm-3">
			</a>
			<h5>{{ item.nombre }}</h5>
			<p>{{ item.descripcion }}</p>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}
