{% extends "layouts/layout.njk" %}

{% block content %}

<div class="container">
	<div class="row">
		{% for item in items %}
		<div class="col-md-4 col-lg-3">
			<a href="{{ item.url }}" target="_blank">
				<img src="{{ item.thumbnailUrl }}/" alt="{{ item.title }}" class="img-fluid mt-sm-3">
			</a>
			<h5>Album ID: {{ item.albumId }}</h5>
			<h6>ID: {{ item.id }}</h6>
			<p>{{ item.title }}</p>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block scripts %}


{% endblock %}
